<!DOCTYPE html>
<html ng-app="filters">
<head>
    <meta charset="UTF-8">
    <title>Filters</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="container">
    <section ng-controller="countriesCtrl as countries">
        <h1>ng-filters</h1>
        <div class="form-group">
            <input type="text" placeholder="Search" class="form-control"
                   ng-model="countries.filter">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th ng-click="countries.toggleSortOrder()" class="sortable">
                        Country <i class="glyphicon glyphicon-sort"></i>
                    </th>
                    <th>Capital</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="country in countries.list
                    | orderBy:countries.sortOrder | filter:countries.filter">
                    <td>{{country.id}}</td>
                    <td>{{country.name}}</td>
                    <td>{{country.capital}}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <script src="node_modules/angular/angular.js"></script>
    <script src="table-ctrl.js"></script>
</body>
</html>
